# Python Refresher

## Variables

In [1]:
# Numbers
a = 5
b = 10
my_variable = 56
my_10_variable = 10

In [2]:
# 10variable will not work

In [3]:
# Strings
string_variable = "hello"
single_quote_variable = 'strings can have single quotes'

In [4]:
# Printing variables
print(my_variable)
print(string_variable)

56
hello

### Exercise:

In [5]:
# Create two variables, var1 and var2, both with the same value.
var1 = 'hello'
var2 = var1
# Create two variables, num1 and num2, which multiply together to give 16.
num1 = 8
num2 = 2

## Methods

In [6]:
# Replicate print method
def my_print_method():
    print('Hello')
    print('World')

In [7]:
my_print_method()

Hello
World

In [8]:
def my_multiply_method(number_one, number_two):
    return number_one * number_two

In [9]:
result = my_multiply_method(5, 3)
print(result)

15

In [10]:
print(my_multiply_method(5, 3))

15

### Exercise:

In [11]:
# Complete the method by making sure it returns 42. .
def return_42():
    # Complete method here
    return 42

# Create a method below, called my_method, that takes two arguments and returns the result of its two arguments multiplied together.
def my_method(n1, n2):
    return n1 * n2

In [12]:
print(return_42())
print(my_method(5, 6))

42
30

## List, tuplets and sets

In [13]:
# List
grades = [77, 80, 90, 95, 100]
print(len(grades))
print(sum(grades))
# Calculating average
print(sum(grades) / len(grades))
grades.append(199)

5
442
88.4

In [14]:
# Tuple
# Tuples are immutable (changed), which means we cannot increase the size of the tuple.
grades_tuple = (77, 80, 90, 95, 100)

In [15]:
# Set 
# Set is a list of unique and unordered values
grades_set = {77, 80, 192, 95, 100, 100}
# Duplicate of 100 will be removed.
print(grades_set)

{192, 100, 77, 80, 95}

In [16]:
# However, the tuple can be changed in a specific way.
# It achieved by re-assigning value for the whole tuple
print(grades_tuple)
grades_tuple = grades_tuple + (100, )
print(grades_tuple)

(77, 80, 90, 95, 100)
(77, 80, 90, 95, 100, 100)

In [17]:
# Re-assigning values in a list
print(grades[0])
grades[0] = 60
print(grades)

77
[60, 80, 90, 95, 100, 199]

In [18]:
# It cannot be done with either tuple nor set.
# Tuple is immutable
# Set is unordered.
# However, set supports adding new values.
print(grades_set)
grades_set.add(22)
print(grades_set)

{192, 100, 77, 80, 95}
{192, 100, 77, 80, 22, 95}

In [19]:
# Adding the same value to the set will not throw an error and the value will appear only once since set contains only unique values
print(grades_set)
grades_set.add(3)
grades_set.add(3)
grades_set.add(3)
print(grades_set)

{192, 100, 77, 80, 22, 95}
{192, 3, 100, 77, 80, 22, 95}